/*Media for mobile*/
#post-container {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    margin: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


#post-header {
    color: #a399cc;
    display: flex;
    flex-direction: row;
    height: 150px;
    grid-area: hd;
    align-items: center;
}

.logo {
    width: auto;
    height: 125px;
}


.navigation{
    grid-area: sd;
    display: flex;
    padding: 10px;
    font-weight: bold;
    line-height: 2.5em;
    color: #a399cc;
    font-size: larger;
}


.nav-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* formatting of post page content*/
.post-content{
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    padding: 15px;
    margin: 10px;
}

.section {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    margin-left: 100px;
}

.tips {
    list-style-type: square;
    
}


.title {
    color: #eab8e3;
    text-decoration: underline;
    text-decoration-color: #c1e7e3;
    font-size: 32pt;
}


.post-photo {
    width: 250px;
    height: 200px;
    object-fit: contain;
}


h2 {
    color: #eab8e3;
    font-size: 24pt;
    text-decoration: underline;
    text-decoration-color: #c1e7e3;
}


.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ft-element {
    margin: 5px;
    color: #a399cc;
}


.social-media {
    height: 50px;
    width: 50px;
}

html {
    background-color: #f4f4f8;
}

@media(min-width:600px) and (max-width:1100px){
    #post-container {
        display: grid;
        grid-gap: 15px;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "sd sd main main main main"
        "ft ft ft ft ft ft";
        margin: 20px;
        padding: 5px;
    }
    }

    @media(min-width:1100px){
        #post-container {
            display: grid;
            grid-gap: 15px;
            grid-template-areas: 
            "hd hd hd hd hd hd"
            "sd sd main main main main"
            "ft ft ft ft ft ft";
            margin: 20px;
            padding: 5px;
        }
        }