/*Media for mobile*/
#post-container {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    margin: 20px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ft-element {
    margin: 5px;
    color: #a399cc;
}

@media(min-width:600px) and (max-width:1100px){
    #post-container {
        display: grid;
        grid-gap: 15px;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "sd sd main main main main"
        "ft ft ft ft ft ft";
        margin: 20px;
        padding: 5px;
    }
    }

    @media(min-width:1100px){
        #post-container {
            display: grid;
            grid-gap: 15px;
            grid-template-areas: 
            "hd hd hd hd hd hd"
            "sd sd main main main main"
            "ft ft ft ft ft ft";
            margin: 20px;
            padding: 5px;
        }
        }