#grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "sd sd main main main main"
    "ft ft ft ft ft ft";
}
#main-header {
    color: #a399cc;
    display: flex;
    border: 5px solid black;
    height: 150px;
    grid-area: hd;
}

.logo {
    width: auto;
    height: 125px;
}

.navigation{
    grid-area: sd;
    display: flex;
    border: 5px solid red;
}

.home-content{
    grid-area: main;
    display: flex;
    border: 5px solid yellow;
}

.footer {
    grid-area: ft;
    display: flex;
    border: 5px solid blue;
}

.nav-options {
    list-style-type: none;
}