#grid-container {
    display: grid;
    grid-gap: 15px;
    grid-template-areas: 
    "hd hd hd hd hd hd"
    "sd sd main main main main"
    "ft ft ft ft ft ft";
}
#main-header {
    color: #a399cc;
    display: flex;
    border: 5px solid black;
    height: 150px;
    grid-area: hd;
}

.logo {
    width: auto;
    height: 125px;
}

.navigation{
    grid-area: sd;
    display: flex;
    border: 5px solid red;
}

.home-content{
    grid-area: main;
    display: grid;
    border: 5px solid yellow;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 5px;
    margin: 15px;
}

.new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid orange;
    text-align: center;
}

.second-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid orange;
    text-align: center;
}


.third-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid orange;
    text-align: center;
}


.footer {
    grid-area: ft;
    display: flex;
    border: 5px solid blue;
}

.nav-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}