.footer {
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ft-element {
  margin: 5px;
  color: #a399cc;
}

.social-media {
  height: 50px;
  width: 50px;
}
