.navigation {
  grid-area: sd;
  display: flex;
  padding: 10px;
  font-weight: bold;
  line-height: 2.5em;
  color: #a399cc;
  font-size: larger;
}

.nav-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
